/*--------------------------------------------------------------
 ** Google Fonts Integration
----------------------------------------------------------------*/
/** DM_Sans **/
@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}