/*--------------------------------------------------------------
** All Variable
----------------------------------------------------------------*/
:root {
  --white-color: #f9fbf3;
  --heading-color: #374836;
  --body-color: rgb(55 72 54 / 50%);
  --gray-color: #e1ece3;
  --border-color: #d9d9d9;
  --heading-font: 'Plus Jakarta Sans', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}
